# 忽略PyCharm项目文件  
.idea/   

# 忽略虚拟环境
venv/  

# 忽略缓存文件
__pycache__/  

# 忽略Jupyter Notebooks
.ipynb_checkpoints/

.history

dirGlitch/*
dirZoom/*
videoFolder/*
videoFolderDone/*
videoHeader/*
videoOutput/*

!dirGlitch
!dirZoom
!videoFolder
!videoFolderDone
!videoHeader
!videoOutput

